
/* .githubHeader4 {
    text-align: center;
} */

.repoList {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    flex-direction: column;
    list-style: square outside none;

}

.repoListItem {
    /* justify-content: center; */
    color: blue;
}